* {
    margin: 0;
    padding: 0;    
}

.train-animation {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.forest {
    width: 4355px;
    height: 400px;
    background: url(../img/forest.png) repeat-x left bottom;
    animation: background-move 7s infinite linear;
}

.train {
    position: absolute;
    bottom: 78px;
    width: 2606px;
    height: 210px;
    right: 25%;
    background: url(../img/train.png) no-repeat;
    background-size: contain;
    animation: train-move 10s infinite ease-in-out;
}

.rails {
    position: absolute;
    bottom: 64px;
    width: 100%;
    height: 16px;
    background: url(../img/rails.png) repeat-x;
    animation: background-move 7s infinite linear;
    background-size: contain;
}

.ground {
    width: 100%;
    height: 80px;
    background-color: #a9a9a9;
}

@keyframes background-move {
	0% { background-position-x: 0; }
    100% { background-position-x: -4355px; }
}

@keyframes train-move {
	0% { right: 25%; }
    50% { right: 30%; }
    100% { right: 25%; }
}

@media (max-width: 812px) {
    .train-animation {
        height: 340px;
    }

    .forest {
        height: 300px;
    }

    .train {
        bottom: 39px;
        width: 1303px;
        height: 105px;
    }
    
    .rails {
        bottom: 32px;
        height: 8px;
    }
    
    .ground {
        height: 40px;
    }
}